body {
  background-image: url("https://yt3.ggpht.com/a/AGF-l7-kB1DSup2jwYiQKal_Wny4nJVo4u2mWQIjSA=s288-c-k-c0xffffffff-no-rj-mo");
  background-repeat: repeat;
  padding: 20px;
}

h1 {
  color: white;
  font-family: "Comic Sans MS", cursive, serif;
  font-size: 50px;
  border: dashed;
}



button {
  margin-top: 20px;
  line-height: 60px;
  color: white;
  font-family: "Comic Sans MS";
  font-size: 20px;
  font-weight: bold;
  padding: 0 40px;
  background: red;
  border: none;
}

button:hover {
  background: pink;
}
